<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Created card</title>
  </head>
  <body>
    <main>
      <h1>hola caracola</h1>
       <section class="preview">
    <article class={`preview__box palette-${props.dataCard.palette}`}>
      <button class="preview__reset " onClick={reset}>
        <i class="fa-regular fa-trash-can"></i> Reset
      </button>
      <h3 class="preview__name ">
        <%=name%>
        {props.dataCard.name || `Nombre Apellido`}
      </h3>
      <p class="preview__job ">
        {props.dataCard.job || `Front-end developer`}
      </p>
      <div class="preview__photo">
        <div
          class="profile__photo"
          style={{ backgroundImage: `url(${props.avatar})` }}
        ></div>
      </div>

      <nav>
        <ul class="preview__socialIcons">
          <li>
            <a
              href={`tel:${props.dataCard.phone}`}
              rel="noreferrer"
              class="preview__icon"
            >
              <i class="fa-solid fa-mobile-screen-button"></i>
            </a>
          </li>
          <li>
            <a
              href={`mailto:${props.dataCard.email}`}
              rel="noreferrer"
              class="preview__icon"
            >
              <i class="fa-regular fa-envelope"></i>
            </a>
          </li>

          <li>
            <a
              href={props.dataCard.linkedin}
              target="_blank"
              rel="noreferrer"
              class="preview__icon  "
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a
              href={props.dataCard.github}
              rel="noreferrer"
              target="_blank"
              class="preview__icon"
            >
              <i class="fa-brands fa-github-alt "></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="preview__rectangle"></div>
    </article>
  </section> 
    </main>
  </body>
</html>
